@model List<TutoringPost>
@{
    ViewBag.Title = "Tutorings";
}
<div class="row">
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Subject</th>
                    <th>Rate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var r in Model)
                {
                    <tr>
                        <td>@r.TutoringPostID</td>
                        <td>@r.Title</td>
                        <td>@r.Desc</td>
                        <td>@r.Subject</td>
                        <td>@r.Rate</td>
                        <td>
                            <a asp-controller="Tutoring" asp-action="Details" asp-route-id=@r.TutoringPostID class="btn btn-info"> Details </a>
                            <a asp-controller="Tutoring" asp-action="Edit" asp-route-id=@r.TutoringPostID class="btn btn-info"> Edit </a>
                            <a asp-controller="Tutoring" asp-action="Delete" asp-route-id="@r.TutoringPostID" class="btn btn-info"> Delete </a>                              
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
</div>

<br/>
 <form asp-action="Add">
     <button type="submit" class="btn btn-info"> Find a Tutor </button>
 </form>
                


                       
                  
                    


   


