@model FairfieldConnect.Models.Thumbnail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Details</h3>
<div class="row" style="width:800px">      
        <table>
            <tr>
                <td>Name:</td>
                <td>@Model.ThumbnailName</td>
            </tr>
            <tr>
                <td>Title:</td>
                <td>@Model.Review.Title</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>@Model.Review.Desc</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>@Model.Review.Address</td>
            </tr>            
            <tr>
                <td>Landlord:</td>
                <td>@Model.Review.Landlord.Name</td>
            </tr>
            <tr>
                <td>Reviewd by:</td>
                <td>@Model.Review.Student.Name</td>
            </tr>
        </table>       
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
