@model FindPost
@{
    ViewBag.Title = "Details";
}

<h3>Finding Details</h3>
<div class="row" style="width:800px">      
        <table>
            <tr>
                <td>Title:</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>@Model.Desc</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>@Model.Location</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>@Model.Category.Name</td>
            </tr>
            <tr>
                <td>Reviewd by:</td>
                <td>@Model.Student.Name</td>
            </tr>          
        </table>
</div>

