@model ListPost
@{
    ViewBag.Title = "Details";
}

<h3>Listing Details</h3>
<div class="row" style="width:800px">      
        <table>
            <tr>
                <td>Title:</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>@Model.Desc</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Rate:</td>
                <td>@Model.Rate</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>@Model.Category.Name</td>
            </tr>
            <tr>
                <td>Landlord:</td>
                <td>@Model.Landlord.Name</td>
            </tr>
            <tr>
                <td>Created by:</td>
                <td>@Model.Student.Name</td>
            </tr>          
        </table>
</div>

<div style="margin-top:40px">
    <h4>Contact Information</h4>
        <table>
            <tr>
                <td>Name:</td>
                <td>@Model.Student.Name</td>           
            </tr>
            <tr>
                <td>Phone:</td>
                <td>@Model.Student.Phone</td>           
            </tr>
             <tr>
                <td>Email:</td>
                <td>@Model.Student.Email</td>           
            </tr>
        </table>
         <br/>
        <form>
             <a asp-controller="Housing" asp-action="EditListing" asp-route-id=@Model.ListPostID class="btn btn-info"> Edit </a>                          
             <a asp-controller="Housing" asp-action="DeleteListing" asp-route-id="@Model.ListPostID" class="btn btn-info"> Delete </a>
             <button asp-controller="Housing" asp-action="Listing" class="btn btn-warning">Cancel</button>
        </form>          
</div>
            
        

