@model List<Review>
@{
    ViewBag.Title = "Reviews";
}
<div class="row">
    <div class="">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Address</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>@r.ReviewID</td>
                        <td>@r.Title</td>
                        <td>@r.Desc</td>
                        <td>@r.Address</td>
                        <td>                           
                               @* <a asp-controller="Product" asp-action="Details" asp-route-id=@p.ProductID class="btn btn-info"> Details </a>
                                <a asp-controller="Product" asp-action="Edit" asp-route-id=@p.ProductID class="btn btn-info"> Edit </a>*@
                                <a asp-controller="Housing" asp-action="" asp-route-id="@r.ReviewID" class="btn btn-info"> Delete </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
</div>

 <form asp-action="AddReview">
     <button type="submit" class="btn btn-info"> Leave a Review </button>
 </form>
                


                       
                  
                    


   

