@model Review
@{
    ViewBag.Title = "Details";
}

<h3>Review Details</h3>
<div class="row" style="width:800px">      
        <table>
            <tr>
                <td>Title:</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>@Model.Desc</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>@Model.Category.Name</td>
            </tr>
            <tr>
                <td>Landlord:</td>
                <td>@Model.Landlord.Name</td>
            </tr>
            <tr>
                <td>Reviewd by:</td>
                <td>@Model.Student.Name</td>
            </tr>          
        </table>
</div>
